.ce_main{
	width:  250px;
	heigh:  100px;
	flex-direction: column;
	justify-content: space.space-evenly;
	align-items: center;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);


	background-color: transparent;

}

#ce_name{
	color: white;
	font-size: 70px;
}


#ce_button{
	color: white;
	padding: 6px 69px;
	border-radius: 20px;
	font-size: 14px;
	background-color: #20b2aa;
	cursor:pointer;

}

#ce_button:hover{
	background-color: #13a6a0;
}