.ce_main{
	width:  400px;
	heigh:  500px;
	display: flex;
	flex-direction: column;
	justify-content: space.space-evenly;
	align-items: center;
	position: absolute;
	z-index: 999999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);


	background-color: brown;

}

#ce_name{
	color: white;
	font-size: 70px;
}


#ce_button{
	color: white;
	padding: 60px 30px;
	border-radius: 5px;
	font-size: 30px;
	background-color: brown;
	cursor:pointer;
}