body{
width:  400px;
height: 450px;
color: #050505;
font-size: 14px;
background-color: #232f3e;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #656565;
}



.navigation{
	width:  400px;
	height: 50px;
	color: #f2f2f2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

.products_title{
	color:  #f2f2f2;
	font-size: 14px;
	margin-left: 7px;
}

.no_products{
	position: absolute;
	width:  400px;
	height: 400px;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -200px;
	color: #f2f2f2;
	text-align: center;
}
.products{

	width:  400px;
	height: 400px;
	overflow-y: auto;
}
.product{
	display: flex;
	background-color: #EEEEEE;
	padding: 2%;
	margin: 2%;

}

.product:hover{
	outline: solid #ff9900;
	background-color: #FFFFFF;
	padding: 2%;
	margin: 2%;

}

.p_image{
	padding: 1%;
	flex: 2;
}

.p_data{
	padding: 1%;
	flex: 12;
}


.p_del_btn{
	cursor: pointer;
	color: #999999;
	flex: 1;
	height: 20px;
}
.p_del_btn:hover{

	color: #333333;
}




.p_price{
	display: flex;
	font-size: 12px;
}

.p_name{
	font-size: 12px;
}

a:link{
	color: #050505;
	text-decoration: none;
}
a:visited{
	color: #050505;
	text-decoration: none;
}
a:hover{
	color: #47577a;
	text-decoration: none;
}




.p_prev_price{
	color: #555555;
	text-decoration: line-through;
}

.p_deal_price{
	color: red;
}



